[submodule "Default.sublime-package"]
	path = Default.sublime-package
	url = https://github.com/evandroforks/SublimePackageDefault
[submodule "Packages/Default"]
	path = Packages/Default
	url = https://github.com/evandrocoan/SublimePackageDefault
	upstream = https://github.com/evandroforks/SublimePackageDefault
	branches = master->master,
[submodule "AmxxPawn"]
	path = Packages/AmxxPawn
	url = https://github.com/evandrocoan/AmxxPawn
[submodule "Packages/Clear Cursors Carets"]
	path = Packages/ClearCursorsCarets
	url = https://github.com/evandrocoan/ClearCursorsCarets
[submodule "Packages/AmxxChannel"]
	path = Packages/AmxxChannel
	url = https://github.com/evandrocoan/AmxxChannel
[submodule "Packages/Active View Jump Back"]
	path = Packages/ActiveViewJumpBack
	url = https://github.com/evandrocoan/ActiveViewJumpBack
[submodule "Packages/Fix Project Switch Restart Bug"]
	path = Packages/FixProjectSwitchRestartBug
	url = https://github.com/evandrocoan/FixProjectSwitchRestartBug
[submodule "Packages/DefaultSyntax"]
	path = Packages/DefaultSyntax
	url = https://github.com/evandrocoan/DefaultSyntax
[submodule "Packages/Notepad++ Color Scheme"]
	path = Packages/Notepad++ Color Scheme
	url = https://github.com/evandrocoan/NotepadPlusPlusColorScheme
[submodule "Packages/OverrideUnpackedPackages"]
	path = Packages/OverrideUnpackedPackages
	url = https://github.com/evandrocoan/OverrideUnpackedPackages
[submodule "Packages/OverwriteCommitCompletion"]
	path = Packages/OverrideCommitCompletion
	url = https://github.com/evandrocoan/OverrideCommitCompletion
[submodule "Packages/AmxxEditor"]
	path = Packages/AmxxEditor
	url = https://github.com/evandrocoan/AmxxEditor
[submodule "Packages/DebugTools"]
	path = Packages/DebugTools
	url = https://github.com/evandrocoan/DebugTools
[submodule "Packages/EstimatedTimeLeft"]
	path = Packages/EstimatedTimeLeft
	url = https://github.com/evandrocoan/EstimatedTimeLeft
[submodule "Packages/ChannelManager"]
	path = Packages/ChannelManager
	url = https://github.com/evandrocoan/ChannelManager
[submodule "Packages/ForceRewriteSublimeSettings"]
	path = Packages/ForceRewriteSublimeSettings
	url = https://github.com/evandrocoan/ForceRewriteSublimeSettings
[submodule "Side-by-Side Settings"]
	path = Packages/SideBySideSettings
	url = https://github.com/evandrocoan/SideBySideSettings
	upstream = https://github.com/jgbishop/sxs-settings
	branches = master->master,
[submodule "PowerCursors"]
	path = Packages/PowerCursors
	url = https://github.com/evandrocoan/PowerCursors
	upstream = https://github.com/MaokaiLin/PowerCursors
	branches = master->master,
[submodule "Packages/PackagesManager"]
	path = Packages/PackagesManager
	url = https://github.com/evandrocoan/PackagesManager
	upstream = https://github.com/wbond/package_control
	branches = master->master,
[submodule "Packages/MoveText"]
	path = Packages/MoveText
	url = https://github.com/evandrocoan/MoveText
	upstream = https://github.com/colinta/SublimeMoveText
	branches = master->master,
[submodule "Packages/BBCode"]
	path = Packages/BBCode
	url = https://github.com/evandrocoan/BBCode
	upstream = https://github.com/chipotle/BBCode
	branches = master->master,
