[submodule "Package Control"]
	path = Package Control
	url = https://github.com/evandrocoan/package_control
[submodule "Side-by-Side Settings"]
	path = Side-by-Side Settings
	url = https://github.com/evandrocoan/sxs-settings
[submodule "PowerCursors"]
	path = PowerCursors
	url = https://github.com/evandrocoan/PowerCursors
[submodule "AmxxPawn"]
	path = Amxx Pawn
	url = https://github.com/evandrocoan/SublimeAmxxPawn
[submodule "amxmodx"]
	path = amxmodx
	url = https://github.com/evandrocoan/SublimeAMXX_Editor
